@{
    ViewBag.Title = "About";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app is made to allow people to apply for recycling passes.</p>
<p>There will be information here about the customer and recycling in the final version.</p>
