
@{
    ViewBag.Title = "Admin Pass View";
}

<h2>Admin Pass View</h2>
<p>This section will be used to show all passes and search them using a name and allow editing or deletion.</p>
<p>This will only be viewable as an admin.</p>
