@{
    ViewBag.Title = "Home Page";
}

<h1>Recycling Pass Registration.</h1>
<h2>What is this recycling pass?</h2>
<p>This pass will allow you to recycle at a new location opening soon.</p>
<h2>How much does it cost?</h2>
<p>This version of the app will not apply cost, it is outside of the scope.</p>
<h2>Why are these questions here?</h2>
<p>These questions are to set up a format for the page, as well as provide something to show while presenting.</p>
