@{
    ViewBag.Title = "Home Page";
}

<h1>TEST</h1>
<h1>   </h1>
<center>
    <br />

    <img src="https://archive.is/WBMAV/b08d40613d876f894ac662eafe72caccce6502ef" />

    <h3 style="color:black">
        Welcome to the Cabell County Solid Waste Authority Website.<h3>
            <br />
</center>

<br />


<div class= "col-lg-6">
    <br />
    

    <center>
    <h2 style="color:black">Recycling Pass information</h2>
    </center>
    <p style="color:black">The Cabell County Solid Waste Authority has searched for the best way to provide the county with a sustainable recycling option. The current county sites that we maintain are expensive and hard to keep clean.<p>
    <p>

    </p>
    <p style="color:black">We are therefore launching a new model.  The WV DEP has provided us with a grant that has allowed us to build secure sites that will be accessed only by those who purchase “memberships”.  We regret that there is a charge, but we had to develop a plan that was self-sustaining.<p>
    <p>

    <p>
    <p style="color:black">"Members” will purchase passes, in the form of key fobs, that will allow them to access the recycling sites and depose of their recyclables.The sites are gated and fenced with a sophisticated system that will allows patrons access during hours of operation. See our website for location(s) and posted hours of operation. The system is also equipped with cameras that will monitor the sites 24 hours/day 7 days/week.<p>
    <p>

    <p>
    <p style="color:black">One Pass (key fob) per each household. This pass cannot be shared with other households.<p>
    <p style="color:black">As of December 1st, 2017 a pass will cost $62.50 and is valid until September 30, 2018.<p>
    <p style="color:black">Lost passes will be replaced at a charge of $10 each. Passes purchased after October will be prorated.</p>



</div>

<div class="col-lg-6">
   
<br />
    <center>
        <h2 style="color:black">Contact information</h2>

        <p style="color:black">Mailing Adress: ​<p>
        <p style="color:black">Cabell County Solid Waste Authority </p>
        <p style="color:black">PO Box 729 </p>
        <p style="color:black">Barboursville, WV 25504</p>
        <p style="color:black">Email: Admin@ccswa.us</p>

        <h2 style="color:black">Visit our website.</h2>
      
        <a  href="ccswa.us" style="font-size: 20px;" >ccswa.us</a>

        <h2 style="color:black">Next meeting.</h2>
        <p style="color:black">Date: November 14, 2017</p>
        <p style="color:black">Time: 10:00 AM</p>
        <p style="color:black">Location: 800 Virginia Avenue</p>
        <p style="color:black">Huntington WV 25704</p>
    </center>
</div>

<br />
<br />