@{
    ViewBag.Title = "Home Page";
}

<h1>TEST</h1>
<h1>   </h1>
<center>
    <h3 style="color:black">
        Welcome to the Cabell County Solid Waste Authority Website.<h3>
            <p2 style="color:black">This site is intended to guide, educate and engage residents of Cabell County WV on the topic of solid waste management.<p2>
</center>