
@{
    ViewBag.Title = "Statistics";
}

<h2>Recycling Pass Statistics</h2>
<p>This section will be used to show the total of passes sold and various information like that.</p>
<p>This will only be viewable as an admin.</p>

